# Diretórios de build e cache
DerivedData/
Build/
*.xcworkspace
*.xcuserstate
*.xcscmblueprint

# Configurações de usuário do Xcode
*.xccheckout
*.xcuserdatad/
*.xcuserdata/

# Arquivos de logs e temporários
*.log
*.DS_Store
*.swp
*.lock

# Arquivos do CocoaPods (se estiver usando Pods)
Pods/
Podfile.lock

# Arquivos do Carthage (se estiver usando Carthage)
Carthage/

# Arquivos do Swift Package Manager
Packages/
Package.resolved

# Arquivos de depuração
*.mode1v3
*.mode2v3
*.perspectivev3

# Snapshots do Interface Builder
*.moved-aside

# Certificados e chaves privadas (importante para evitar vazamento)
*.p12
*.mobileprovision

# Arquivos do Fastlane (se estiver usando)
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/
fastlane/test_output/

# Arquivos do Xcode Playgrounds
playground.xcworkspace/
playground.xcuserstate
